.cell {
    min-width: 200px;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    display: flex;
    align-items: center;
}

.title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
